.wrapper {
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomAvatarimg {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 100%;
}